#one
{
    color:rgb(123, 18, 18);
}
p
{
    font-style: oblique;
    color:brown
  
}

.one
{
    color:blue;
    font-style: initial;
}
.two
{
    background-color: aqua;
}

mark[draggable]{
    color:green;
}
.outer-box{
    border:solid;
    background-color: rgb(155, 125, 183);
}
.inner-box pre{
  
  background-color: aqua;
}

.outer-box{
    height: 100px;
    width:150px;
}

.inner-box{
    padding-left: 5px;
    padding-right: 5px;
   
}

.outer-box p{
margin-left:40px;
}